!!!
%html
  %head
    %title Photos
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    .header
      .wrapper
        %h1 Gregg and Jen's Photos
        - if current_user
          .signed_in
            Hello #{current_user.email}
            = link_to "sign out", destroy_session_path
        - else
          .sign_in
            = link_to "sign in with google", user_omniauth_authorize_path(:google)
    .content
      .wrapper
        = yield
    .footer
      .wrapper
        &copy; Copyright #{Time.now.year} Gregg and Jen Van Hove
    .scripts
      = javascript_include_tag "application"
      %script
        window.PhotosApp.init(#{@photos.to_json.html_safe});
