!!!
%html
  %head
    %title Photos
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "desktop", media: 'screen and (min-device-width:768px)'
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
  %body
    .header
      .wrapper
        - if current_user.present?
          .signed_in
            Hello
            = link_to current_user.display_name, account_path
            = link_to "sign out", destroy_session_path
        - else
          .sign_in
            = link_to "sign in with google", user_omniauth_authorize_path(:google)
        %h1= link_to "Gregg and Jen's Photos", root_path
    .content
      .wrapper
        = yield
    .footer
      .wrapper
        &copy; Copyright #{Time.now.year} Gregg and Jen Van Hove
    .scripts
      = javascript_include_tag "application"
      %script
        window.PhotosApp.init(#{@photos.to_json.html_safe}#{", #{current_user.to_json.html_safe}".html_safe if current_user.present?});
