!!!
%html
  %head
    %title Photos
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    .header
      .wrapper
        Gregg and Jen's Photos
    .content
      .wrapper
        = yield
    .footer
      .wrapper
        &copy; Copyright #{Time.now.year} Gregg and Jen Van Hove
    .scripts
      = javascript_include_tag "application"
      %script
        window.PhotosApp.init(#{@photos.to_json.html_safe});
