!!!
%html
  %head
    %title Photos
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .header
        Gregg and Jen's Photos
      .content
        = yield
      .footer
        Copyright &copy; #{Time.now.year} Gregg and Jen Van Hove
