%h2 Edit Account

= form_for current_user, :url => account_path do |f|
  %fieldset
    = f.label :name
    = f.text_field :name

  = f.submit 'Update'

%h3 Email Addresses
.email= current_user.email

- current_user.sender_emails.each do |sender_email|
  - unless sender_email.address == current_user.email
    = form_for [:account, sender_email], method: :delete do |f|
      .email
        = sender_email.address
        = f.submit "Delete"

= form_for [:account, current_user.sender_emails.build] do |f|
  = f.label :address, "New Email"
  = f.text_field :address
  = f.submit "Add"
